form.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
h1{
    text-align:center;
    color:blue;
    font-family:'Segoe Print';
}
div{
    font-family:Corbel;
    color:darkblue;
}
a:hover{
    color:cadetblue;
}
body{
    background-color:aliceblue;
}
/* Style the buttons inside the tab */
form.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
form.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
form.tab button.active {
    background-color: #eee;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
h2.action {
    color: red;
    font-family: Arial;
}

h4.action {
    color: crimson;
}

div.action {
    color: firebrick;
}
h2.comedy {
    color: darkorange;
    font-family: Arial;
}

h4.comedy {
    color: orangered;
}

div.comedy {
    color: goldenrod;
}

h2.drama {
    color: hotpink;
    font-family: Arial;
}

h4.drama {
    color: plum;
}

div.drama {
    color: deeppink;
}

form.tab > button {
    width: 33.333333%;
}
